{
    "jsc": {
        "parser": {
            "sintax": "typescript",
            "decorators": true
        },
        "transformer": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    }
}
